
.persion{
    padding: 27px 10px;
    background-color: #F2F1FE;
    border-radius: 18px;
}
.textwrapper{
    margin-left: 10px;
}
.textwrapper p{
    font-size: 14px;
    line-height: 19px;
    color: #43454D;
    margin: 10px 0;
}
.textwrapper span{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #663399;
}