html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif !important;
  background: #F1F3F4;
}

.active {
  background: #7D48B1 !important;
}
.active p{
  display: inline-block !important;
}
button:hover{
  background-color: transparent !important;
}
